doctype html
html
    head
        title Photo Previewer
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css')
    body
        nav.navbar.navbar-inverse.navbar-static-top
            div.navbar-header
                a.navbar-brand(href="/") Photo Previewer
        div.container
            block content